# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build files (if applicable)
dist/
build/
# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build files (if applicable)
dist/
build/
